body{
width:100%;
height:100%;
background-color: #fff;
background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);
background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);
-moz-background-size: 4px 4px;
background-size: 6px 6px;
}
#title-head{
top:0;
left:0;
position: fixed;
width:100%;
background-color:#0c29cd;
color:white;
padding:5px;
padding-top:7px;
}
#title-head a{
    text-decoration: none;
}
.entitle{
float:right;
font-size: 18px;
margin-top:10px;
font-weight: 400;
}


#foot-eroll{
bottom:0;
left:0;
position: fixed;
width:100%;
color:white;
}
#foot-eroll .col:hover{
background-color: #ffffff;
color:blue;
}

.con-call{
background-color: rgb(247, 90, 90);
padding:6px;
cursor: pointer;
}

.con-wa{
background-color: rgb(52, 219, 52);
padding:6px;
cursor: pointer
}
.con-mail{
background-color: #455eee;
padding:6px;
cursor: pointer
}
button:disabled{
    cursor: not-allowed;
}
/*///////////////////////////////////  */
.rstmodule{
background-color: #fff;
background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);
background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 75%, transparent 75%, transparent);
-moz-background-size: 4px 4px;
background-size: 6px 6px;
width:100%;
}

.veremfalse{
color:black;
font-weight: 600;
font-size:16px;
}
/* ///////////////Educator////////////////// */

#resetp{
display:none;
top:60px;
left: 0px;
position: fixed;
width: 100%;
/* height:100%; */
}

.repass{
margin-top:100px;
max-width: 400px;
width:90%;
min-height:200px;
padding:20px;
background-color: #c6cbf8;
box-shadow: 0px 2px 6px 0px #474749;
}
#resetp_two,#resetp_three,#resetp_four{
display:none;
}
#loader-fp{
display: inline-block;
left: 50%;
top: 500px;
z-index: 1;
width: 30px;
height: 30px;
margin: -20px 0 0 -20px;
visibility: hidden;
}
#checkemid,#checkemid-2{
display: none;
max-width: 400px;
width:90%;
padding:20px;
background-color: #f74848;
color:white;
z-index: 1;
}
/* ////////////Student//////////////// */

#resetpst{
display:none;
top:60px;
left: 0px;
position: fixed;
width: 100%;
/* height:100%; */
}

.repassst{
margin-top:100px;
max-width: 400px;
width:90%;
min-height:200px;
padding:20px;
background-color: #fdf696;
box-shadow: 0px 2px 6px 0px #474749;
}
#resetpst_two,#resetpst_three,#resetpst_four{
display:none;
}
#loader-fpst{
display: inline-block;
left: 50%;
top: 500px;
z-index: 1;
width: 30px;
height: 30px;
margin: -20px 0 0 -20px;
visibility: hidden;
}
#checkemidst,#checkemidst-2st{
display: none;
max-width: 400px;
width:90%;
padding:20px;
background-color: #f74848;
color:white;
z-index: 1;
}
/* ///////////////Online Test////////////////// */

#rst-ont{
display:none;
top:60px;
left: 0px;
position: fixed;
width: 100%;
/* height:100%; */
}

.repass-ont{
margin-top:100px;
max-width: 400px;
width:90%;
min-height:200px;
padding:20px;
background-color: #fcbde1;
box-shadow: 0px 2px 6px 0px #474749;
}
#ont-two,#ont-three,#ont-four{
display:none;
}
#loader-ont{
display: inline-block;
left: 50%;
top: 500px;
z-index: 1;
width: 30px;
height: 30px;
margin: -20px 0 0 -20px;
visibility: hidden;
}
#succs-ont,#mailsuccs-ont{
display: none;
max-width: 400px;
width:90%;
padding:20px;
background-color: #f74848;
color:white;
z-index: 1;
}
#emchknt{
    text-align:left;
    width:100%;
    padding:10px;
    font-size:18px;
    padding-bottom:20px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.438);
    margin-bottom:20px;
}
#rstmailid-ont{
    /* padding:10px; */
    /* border: 2px solid #474749; */
    color:#0c29cd;
    float:right;
    border: 1px solid #d6104c;
    padding:0px 15px;
    font-size: 16px;
}
#messagenew-ont{
    float: right;
    padding:4px;
}
/* ///////////////Exam Portal////////////////// */

#rst-emp{
    display:none;
    top:60px;
    left: 0px;
    position: fixed;
    width: 100%;
    /* height:100%; */
    }
    
    .repass-emp{
    margin-top:100px;
    max-width: 400px;
    width:90%;
    min-height:200px;
    padding:20px;
    background-color: #fdb0f9;
    box-shadow: 0px 2px 6px 0px #474749;
    }
    #emp-two,#emp-three,#emp-four{
    display:none;
    }
    #loader-emp{
    display: inline-block;
    left: 50%;
    top: 500px;
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: -20px 0 0 -20px;
    visibility: hidden;
    }
    #succs-emp,#mailsuccs-emp{
    display: none;
    max-width: 400px;
    width:90%;
    padding:20px;
    background-color: #f74848;
    color:white;
    z-index: 1;
    }
    #emchknt{
        text-align:left;
        width:100%;
        padding:10px;
        font-size:18px;
        padding-bottom:20px;
        border-bottom: 1px solid rgba(85, 85, 85, 0.438);
        margin-bottom:20px;
    }
    #rstmailid-emp{
        /* padding:10px; */
        /* border: 2px solid #474749; */
        color:#0c29cd;
        float:right;
        border: 1px solid #d6104c;
        padding:0px 15px;
        font-size: 16px;
    }
    #messagenew-emp{
        float: right;
        padding:4px;
    }
    /* //////////////////////////// */
#consrset{
top:140px;
left:0px;
position: fixed;
width:100%;
padding:5px;
}
#creset-one{
width:100%;
max-width: 500px;
background-color: white;
padding:10px;
box-shadow: 0px 4px 10px 0px #555;
}
#consrset h4{
text-align: left;
border-bottom: 1px solid #555;
padding-bottom: 10px;
}
#consrset button{
width:100%;
height:40px;
border: none;
outline:none;
font-size: 18px;
}
.conbtn:nth-child(2){
background-color: #e7d210d3;
color:white;
margin-bottom:8px;

}
.conbtn:nth-child(1){
background-color: #0c29cd;
margin-bottom:8px;
color:white;
}
.conbtn:nth-child(3){
background-color: #d6104c;
margin-bottom:8px;
color:white;
}
.conbtn:nth-child(4){
background-color: #a810d6;
color:white;
margin-bottom: 0px;
}
.conbtn:hover{
opacity: 0.8;
}
#info{
margin-top:100px;
}